*{
    margin: 0;
    padding: 0;
    box-sizing: 0;

}
 
body{
    background-color: rgb(155, 164, 181);
}

header{
    width: 100%;
    align-items: center;
    text-decoration: none;
    padding: 10px;
    background-color: rgb(33, 42, 62) ;

}
.logo_kr{
    max-width: 100px;
    border-radius: 30px;
}

nav{
    display: flex;
    justify-content: space-between;
    
}


.nav_list{
    padding:1rem;
}

.nav_link{
    font-size: 20px;
    display: inline;
    margin-right: 5px;
    margin: 5px;
    padding: 5px;

}

main{
    display: grid;
    margin: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr) ;
    gap: 1rem;
}

.Producto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 3px;
    max-width: 100%;
    height: auto;
}
.Producto:hover{
    border: 2px solid black ;
    scale: 1.02;
    transition: all 0.5s ease;
}
.producto-logo{
    width: 600px;
    max-height: 600px;
}

.Producto img{
    display: flex;
    align-content: center;
    margin: 16px;
    max-width: 400px;
    height: auto;
}
footer{
    padding: 10px;
    text-align: center;
    background-color: rgb(33, 42, 62);
}
